{% extends 'base.html.twig' %}

{% block title %}Les acteurs{% endblock %}

{% block body %}
    <h1 class="mt-5">Les acteurs</h1>

    <div class="row justify-content-center mt-5">
    {% for actor in actors %}
        <div class="card col-8 col-md-4 col-xl-3 m-5" style="width: 18rem;">
            <a href="{{ path('show_actor', {'id': actor.id }) }}">
            <img class="card-img-top" src="{{ actor.picture }}" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title">{{ actor.name }}</h5>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}