<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="build/app.scss">
        {% endblock %}
        {% block header %}{% include 'navbar.html.twig' %}{% endblock %}
        {% block carousel %}{% include 'carousel.html.twig' %}{% endblock %}
    </head>
    <body>
        {% block body %}{% include 'index.html.twig' %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="build/app.js"></script>
        {% endblock %}

    </body>
</html>
