{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ websitehome }} sur Wild Séries</h1>
    {% for program in programs %}
    <a class="d-flex " href="{{ path('show_program', {'programTitle': program.title }) }}">
        {{ program.title }}
    </a>
    {% endfor %}
    <br>
    <a href="{{ path('wild_index') }}">
        Toutes les séries
    </a>
{% endblock %}
